* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* хз как это работает, что-то там про 100рх нужно будет проверить без него */
}

.wrapper {
    /*тупо весь сайт  */
    width: 901px;
    margin: 0 auto;
}

.header {
    padding: 77px 0 0 0;
    /* верхние границы лучше так делать, а не маржином, возможно нужно будет хедеру цвет задавать и тд */
    margin: 0 0 103px 0;
}

.nav-list {
    text-align: center;
    /* шапку ставим по центру */
}

.list-item {
    list-style: none;
    /* убрали горизонтальные точки */
    display: inline-block;
    /* мои лишки поставили в одну строку */
    margin: 0 90px 0 0;
    /* расстояние между лишками */
}

.nav-link {
    text-decoration: none;
    /* убрали подчерк ссылки */
    color: #626262;
    /* убрали синьку */
}

main {
margin: 0 0 57px 0;
}
.article-item {
    list-style: none;
    /* убрали точки с картинок */
    display: inline-block;
    /* блоки с картинками пошли друг за другом */
    width: 420px;
    /* ширина этих блоков из-за чего они становятся вряд */
    margin: 0 0 135px 0;
}

.article-item-r {
    /* margin-right: calc(900px - 800px - 4px - 35px); */
    margin-right: 57px;
}

.article-text- {
    margin: 31px 0 28px 0;
    color: #b4ad9e;
}

.article-title {
    margin: 0 0 40px 0;
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    left: 148.844px;
    top: 538.828px;
    width: 407px;
    height: 30px;
    z-index: 58;
}

.article-text {
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    
}

article {
    width: 420px;
}

.article-item-niz {
    margin: 0 57px 0 0;
}

.z {
   margin-right: 0;
}
.button {
    padding: 20px; /* внутренний отступ */
    outline: none; /* убрали синюю линию, которая появляется при нажатии на кнопку на рамке */
    cursor: pointer; /* появляется палец при наведении */
    background-color: transparent; /* прозрачность кнопки */
    margin: 0 auto 70px auto; /* центровал кнопку */
    display: block;  /* сделал элемент блочным */
    border: 1px solid black; /* толщина рамка (цельный) цвет */
    font-size: 20px; /* размер текста */

}
 
